input {
visibility: hidden;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #dcdeea;
}
.slider__title {
	font-family: cursive;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
}
.container {
	max-width: 60rem;	
	background-color: rgb(13 39 4 / 68%);
	margin: 0 auto;
	border-radius: 2%;
}
.slider {
	display: flex;
	max-width: 47rem;
	width: 100%;		
	overflow: hidden;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: 0 auto;	
}
.slide {				
	min-height: 38rem;	
}
.slide__img {
	transition: 0.5s all ease 0.1s;	
	width: 0;
}
.slider__bottom {	
	display: flex;
	max-width: 47rem;
	width: 100%;
	overflow: hidden;
	padding-bottom: 2rem;
	margin: 0 auto;
}
.slider__text {
	display: flex;
	justify-content: flex-start;
	width: 70%;	
}
.slider__text-descr {	
	font-family: 'Courier New', Courier, monospace;
	font-size: 3vh;
	font-weight: 600;
	opacity: 0;	
	font-size: 0;
	transition: 1s;	
}
.slider__buttons {	
	display: flex;
	justify-content: flex-end;
	width: 30%;
}
.slider__control {
	display: flex;	
	cursor: pointer;
	padding:0 0.3rem;
	margin:0 0.3rem;
}
.slider__button { 		
	width: 1rem;
	height: 1rem;
	border: 0.1rem solid #0d0d0eb5;
	background-color: #0e0d0d;
	border-radius: 50%;	
}
.slider__button:checked {
	background-color: #dcdeea;
}
.slider__button:hover {
	background-color: rgb(50, 72, 101);
}
.slider__button:active {
	background-color: #e58e23;	
}
.s1:checked~.slider .slide1 img,
.s2:checked~.slider .slide2 img,
.s3:checked~.slider .slide3 img,
.s4:checked~.slider .slide4 img {
	width: 47rem;
}
.s1:checked~.slider__bottom .slider__text-descr1,
.s2:checked~.slider__bottom .slider__text-descr2,
.s3:checked~.slider__bottom .slider__text-descr3,
.s4:checked~.slider__bottom .slider__text-descr4  {
opacity: 1;
font-size: 1em;
}
.s1:checked~.slider__bottom .first-button,
.s2:checked~.slider__bottom .second-button,
.s3:checked~.slider__bottom .third-button,
.s4:checked~.slider__bottom .fourth-button {
	background-color: #8f8b8b;
	border-color: #8f8b8b;
}
@media (max-width: 1000px) {
	.container {
		max-width: 40rem;
		min-height: 37rem;
	}	
	.s1:checked~.slider .slide1 img,
   .s2:checked~.slider .slide2 img,
   .s3:checked~.slider .slide3 img,
   .s4:checked~.slider .slide4 img {
	width: 30rem;
   }
	.slider {
		justify-content: center;
		max-height:25rem;
	}	
	.slider__bottom {
		flex-direction: column-reverse;
		align-items: center;
		row-gap: 2rem;
	}
}
@media (max-width: 680px) {
	.container {
		max-width: 30rem;
		min-height: 26rem;
	}	
	.s1:checked~.slider .slide1 img,
   .s2:checked~.slider .slide2 img,
   .s3:checked~.slider .slide3 img,
   .s4:checked~.slider .slide4 img {
	width: 20rem;
   }
	.slider {	
		max-height:15rem;
	}	
	.slider__bottom {	
		row-gap: 1rem;
	}
}
@media (max-width: 500px) {
	.container {
		max-width: 18rem;		
	}	
	.s1:checked~.slider .slide1 img,
   .s2:checked~.slider .slide2 img,
   .s3:checked~.slider .slide3 img,
   .s4:checked~.slider .slide4 img {
	width: 17rem;
   }		
	.slider__bottom {	
      width: 17rem;
	}
	.slider__text {
		width: 100%;
	}
	.slider__buttons {
		width: 100%;
		justify-content: center;
	}
}